In [5]:
import pandas as pd

df = pd.read_csv('Resources'/'purchase_data.csv')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [6]:
df

NameError: name 'df' is not defined

In [7]:
male_count = df.loc[:, 'Gender']== 'Male'

NameError: name 'df' is not defined

In [4]:
male_count.count()

NameError: name 'male_count' is not defined

In [ ]:
male_count.value_counts()

In [ ]:
df['Gender'].value_counts()

In [ ]:
df['Gender'].value_counts(normalize=True)

In [2]:
df_2 = pd.DataFrame({})

In [3]:
df_3 = df[['SN','Gender']]

NameError: name 'df' is not defined

In [18]:
df_3

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
775     Aethedru70  Female
776         Iral74    Male
777     Yathecal72    Male
778        Sisur91    Male
779      Ennrian78    Male

[780 rows x 2 columns]

In [24]:
df_3['SN'].drop_duplicates()

AttributeError: 'Series' object has no attribute 'dropduplicates'